/* General Styles */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

/* Container */
.container {
    text-align: center;
}

/* Image Wrapper */
.image-wrapper {
    display: inline-block;
    overflow: hidden;
}

/* Image Styles */
.image {
    width: 1000px; 
    height: 600px; 
    transition: transform 0.3s ease-in-out;
}

/* Hover Effect - Scale Image */
.image:hover {
    transform: scale(1.5);
}
